xarray[complete]
numpy>=1.26
packaging>24.1
pandas>=2.2
argcomplete
beautifulsoup4
canyonbpy
cgsn_parsers @ https://bitbucket.org/ooicgsn/cgsn-parsers/get/master.zip
cgsn_processing @ https://bitbucket.org/ooicgsn/cgsn-processing/get/master.zip
distributed
ephem
erddapy
gsw
h5py
ioos-qc
ipykernel
ipympl
iris
loguru
munch
nodejs
nose
numexpr
packaging
pint
ppigrf
pyco2sys
pyncml
pysolar
pyseas @ https://bitbucket.org/ooicgsn/pyseas/get/develop.zip
pyYAML
s3fs
scikit-learn
sphinx
tqdm
xlrd
